.layout-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

/*
  The '+' is the adjacent sibling combinator.
  It selects the element that is immediately after the .sidebar element.
  In Layout.jsx, this is whatever component is rendered by the <Outlet />,
  which is exactly what we want to target. This applies the layout
  to any and all pages rendered inside the Layout component.
*/
.sidebar + * {
  flex: 1;
  overflow-y: auto; /* Allow vertical scrolling, but visually hidden */
  min-width: 0; /* Prevents content from overflowing the container in flexbox */
  margin-left: 80px; /* Default margin for collapsed sidebar */
  transition: margin-left 0.4s cubic-bezier(0.4, 0, 0.2, 1); /* Sync with sidebar animation */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar + *::-webkit-scrollbar {
  display: none;
}

/*
  When the sidebar has the 'extended' class, we increase the margin-left
  of the main content to match the new width of the sidebar.
*/
.sidebar.extended + * {
  margin-left: 250px; /* Margin for extended sidebar */
}
