<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.novacinema.cinemaFranchise.model.dao.CinemaFranchiseMapper">

    <!-- ResultMap -->
    <resultMap id="cinemaFranchiseResultMap" type="com.novacinema.cinemaFranchise.model.dto.CinemaFranchiseDTO">
        <id property="branchNum" column="branch_num"/>
        <result property="branchName" column="branch_name"/>
        <result property="address" column="address"/>
    </resultMap>

    <!-- SELECT -->
    <select id="findAllCinemaFranchises" resultMap="cinemaFranchiseResultMap">
        SELECT
        branch_num,
        branch_name,
        address
        FROM T_CinemaFranchise
        ORDER BY branch_num ASC
    </select>

    <!-- INSERT -->
    <insert id="addCinemaFranchise" parameterType="com.novacinema.cinemaFranchise.model.dto.CinemaFranchiseDTO">
        INSERT INTO T_CinemaFranchise (
        branch_num,
        branch_name,
        address
        ) VALUES (
        #{branchNum},
        #{branchName},
        #{address}
        )
    </insert>

    <!-- DELETE -->
    <delete id="deleteCinemaFranchiseByBranchNum" parameterType="String">
        DELETE FROM T_CinemaFranchise
        WHERE branch_num = #{branchNum}
    </delete>

    <!-- UPDATE -->
    <update id="updateCinemaFranchise" parameterType="com.novacinema.cinemaFranchise.model.dto.CinemaFranchiseDTO">
        UPDATE T_CinemaFranchise
        SET
        branch_name = #{branchName},
        address = #{address}
        WHERE
        branch_num = #{branchNum}
    </update>

</mapper>
