server:
  port: 8081

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL:jdbc:mysql://your-rds-endpoint:3306/bikewaydb}
    username: ${DB_USERNAME:your-db-username}
    password: ${DB_PASSWORD:your-db-password}

mybatis:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true
